MONGODB_URI=
MONGODB_DATABASE=synqanun
MONGODB_COLLECTION=legal_chunks
MONGODB_VECTOR_INDEX=legal_vector_index

EMBEDDING_MODEL=intfloat/multilingual-e5-base

CHUNK_SIZE=1000
CHUNK_OVERLAP=50


search_index_dim=768
search_index_similarity=cosine